<footer class="site-footer">
    <div class="site-identity">
      <p><a href="#">&#169; 
        2016 - <%= new Date().getFullYear() %></a> developed by <a href="#">techservit.co.za</a></p>
    </div>
  </footer>
  