<header class="site-header">
  <div class="site-identity">
    <h1><a href="/home">techtab</a></h1>
  </div>
  <nav class="site-navigation">
    <ul class="nav">
      <!-- For subscribers -->
       <!-- TODO: Use js to hide for non-subscribers -->
      <li id="createPost"><a href="/">create post</a></li>
      <li><a href="/home">posts</a></li>
      <li><a href="#">about</a></li>
    </ul>
  </nav>
</header>
